body {
	background: #085078; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #085078 , #85D8CE); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #085078 , #85D8CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */     
}

a{
	color: #000000;
	text-decoration: none;
}

#total-cont{

}

#taskbar {
	background: #ffffff;
	height: 50px;
	margin: 15px auto 10px auto;
	border-radius: 20px 20px 0 0;
	display: flex;
	align-items: center;
}

#nav {
	text-align: center;
	width: 100%;
}

#nav > li {
	display: inline-block;
	margin: 0 4%;
}

#intro-cont {
	background: #ffffff;
	margin-bottom: 10px;
	border-radius: -20px -20px 0 0;
}

#intro {
	text-align: center;
}

#project-cont {
	background: #ffffff;
	margin-bottom: 10px;
	text-align: center;
	overflow: auto;
}

#aboutMe {
	background: #ffffff;
	height: 30%;
	margin-bottom: 10px;
}

#social{
	background: #ffffff;
	text-align: center;
	border-radius: 0 0 20px 20px;
}

#accounts > li{
	display: inline-block;
	margin: 0 4%;
}

.project-div {
	width: 97.5%;
	height: 100%;
	display: flex;
	align-items: center;
	background: #bbbbbb;
	margin: 6px auto;
	border-radius: 20px;
}

.para-div {	
	width: 50%;
	text-align: center;
	margin: 0 auto;
	height: 100%;
}

.thumb-div{
	height: 75%;
	margin: 0 auto;
}

.icons{
	height: 50px;
	width: 50px;
}

.center {
	width: 80%;
	margin: 0 auto;
}

.thumbs{
	height: 200px;
	width: 250px;
	display: block;
	margin: 10px auto;
}