* {
	font-family: 'Roboto', 'Arial', sans-serif;
}

html {
	height: 100%;
	/*position: absolute;*/
}

body {
	background: #085078; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #085078 , #85D8CE); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #085078 , #85D8CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100%;
}

header {
	height: 30%;
	width: 100%;
	line-height: 1.2;
}

p {
	margin: 8px 0;
}

a {
	color: #000000;
	text-decoration: none;
}

#logo-cont {
	text-align: center;
}

#logo {
	height: 150px;
	width: 150px;
	margin: 25px auto 0 auto;
}

#total-cont{
	background: #ffffff;
	width: 60%;
	margin: 0 auto;
}

#nav {
	text-align: center;
	font-weight: 700;
	width: 100%;
	background: #ffffff;
	margin: 20px auto 10px auto;
}

#nav > li {
	display: inline-block;
	margin: 0 5%;
}

#intro-cont {
	margin-bottom: 10px;
}

#intro {
	text-align: center;
}

#project-cont {
	margin-bottom: 10px;
	text-align: center;
	overflow: auto;
}

#aboutMe {
	margin-bottom: 10px;
}

#social{
	text-align: center;
}

#accounts > li{
	display: inline-block;
	margin: 0 4%;
}

#next-div {
	height: 100%;
}

.text {
	color: #444444;
	line-height: 1.5;
}

.project-div {
	width: 99%;
	height: 100%;
	display: flex;
	align-items: center;
	background: #bbbbbb;
	margin: 6px auto;
	border-radius: 20px;
}

.para-div {
	width: 50%;
	text-align: center;
	margin: 0 auto;
	height: 100%;
}

.thumb-div{
	height: 75%;
	width: 50%;
	margin: 0 auto;
}

.icons{
	height: 50px;
	width: 50px;
}

.center {
	width: 80%;
	margin: 0 auto;
}

.thumbs{
	height: 200px;
	width: 100%;
	display: block;
	margin: 10px auto;
}
